데이터전처리 : 불필요컬럼삭제 -> 레이블 인코딩 -> 틀성변환  -> 가공필드  -> 스케일링

불필요 컬럼삭제 :
    ID = 인덱스랑똑같음
    oral = 모든인덱스값이 똑같음
    
레이블 인코딩
    범주형(gender , tartar : object -> float
    
특성변환
    - 시력 범주화 (필수)
        0.1~ 0.9 나쁨 = 1
        1.0~ 1.5 보통 = 2
        1.6~ 2.0 좋음 = 3
        9.9      실명 = 4
    - 청력 데이터 재편집 ( 주관적 )
        1,2로 구성 - > 0,1로 변경
    -Urine protein : 6단계 데이터를 0~2단계로 변환(단순화)
        
가공필드
    bmi = (weight / height*0.01) ** 2
    wwi(비만지수) : 지방과 근육량을 분리해서 비만도 측정하는 지수 : waist / np.sqrt(weight)
    
스케일러 생성
    연속형 데이터에 각기 다른 스케일러를 적용해야 한다
    :표준화 , 민맥스 , 로버스트, logScaler

In [11]:
import pandas as pd
import numpy as np

In [3]:
smoking = pd.read_csv("../data/smoking.csv")
df = smoking.drop("ID", axis = 1)
df.head()

,gender,age,height(cm),weight(kg),waist(cm),eyesight(left),eyesight(right),hearing(left),hearing(right),systolic,...,hemoglobin,Urine protein,serum creatinine,AST,ALT,Gtp,oral,dental caries,tartar,smoking
0,F,40,155,60,81.3,1.2,1.0,1.0,1.0,114.0,...,12.9,1.0,0.7,18.0,19.0,27.0,Y,0,Y,0
1,F,40,160,60,81.0,0.8,0.6,1.0,1.0,119.0,...,12.7,1.0,0.6,22.0,19.0,18.0,Y,0,Y,0
2,M,55,170,60,80.0,0.8,0.8,1.0,1.0,138.0,...,15.8,1.0,1.0,21.0,16.0,22.0,Y,0,N,1
3,M,40,165,70,88.0,1.5,1.5,1.0,1.0,100.0,...,14.7,1.0,1.0,19.0,26.0,18.0,Y,0,Y,0
4,F,40,155,60,86.0,1.0,1.0,1.0,1.0,120.0,...,12.5,1.0,0.6,16.0,14.0,22.0,Y,0,N,0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55692 entries, 0 to 55691
Data columns (total 26 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   gender               55692 non-null  object
 1   age                  55692 non-null  int64
 2   height(cm)           55692 non-null  int64
 3   weight(kg)           55692 non-null  int64
 4   waist(cm)            55692 non-null  float64
 5   eyesight(left)       55692 non-null  float64
 6   eyesight(right)      55692 non-null  float64
 7   hearing(left)        55692 non-null  float64
 8   hearing(right)       55692 non-null  float64
 9   systolic             55692 non-null  float64
 10  relaxation           55692 non-null  float64
 11  fasting blood sugar  55692 non-null  float64
 12  Cholesterol          55692 non-null  float64
 13  triglyceride         55692 non-null  float64
 14  HDL                  55692 non-null  float64
 15  LDL                  55692 non-null  float64
 16  hemoglobin           55692 non-null  float64
 17  Urine protein        55692 non-null  float64
 18  serum creatinine     55692 non-null  float64
 19  AST                  55692 non-null  float64
 20  ALT                  55692 non-null  float64
 21  Gtp                  55692 non-null  float64
 22  oral                 55692 non-null  object
 23  dental caries        55692 non-null  int64
 24  tartar               55692 non-null  object
 25  smoking              55692 non-null  int64
dtypes: float64(18), int64(5), object(3)
memory usage: 11.0+ MB

In [16]:
pd.cut(df['eyesight(left)'] , bins=[0.0,0.9,1.5,2.0,9.9] , labels=[1,2,3,4])

0        2
1        1
2        1
3        2
4        2
        ..
55687    1
55688    2
55689    2
55690    1
55691    1
Name: eyesight(left), Length: 55692, dtype: category
Categories (4, int64): [1 < 2 < 3 < 4]

In [20]:
df['Urine protein'].unique()

array([1., 3., 2., 4., 5., 6.])

In [25]:
df['Urine protein'] = np.where(df['Urine protein'] == 1.0 , 0 , np.where(df['Urine protein'] == 2.0 , 1 , 2))

In [28]:
df['Urine protein'].nunique()

3